* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Home page*/
/*---------*/
#Body
{
    position: relative;
    background-color: #fff;
    width: 100%;
    
}
#Header
{
    top: 0;
    left: 0;
    overflow: hidden;
    width: 796px;
    height: 720px;
    background-color: #6C63FF;
    display: flex;
    padding-top: 170px;
    padding-left: 110px;
    border-radius: 0 0 660px 0
}
#Header div
{
    font-size: 70px;
    font-weight: bold;
    color: white;
    line-height: 120px
}

#main3
{
    overflow: hidden;
    width: 340px;
    height: 226px;
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 64%;
    display: grid;
    grid-template-columns: 1fr
}

#main3 form button
{
    background-color: #6C63FF;
    color: white;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    width: 320px;
    height: 95px;
    outline: none;
    border:none;
    border-radius: 48px;
    font-weight: 600;
    margin: 10px 0
}
#main3 form button:hover
{
    background-color: #4A46CB
}

#Footer
{
    position: absolute;
    overflow: hidden;
    width: 600px;
    height: 190px;
    background-color: #fff;
    top: 60%;
    left: 55%;
    display: grid;
    grid-template-columns: 1fr
}
#Footer b
{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: Segoe UI;
    color: #111
}
#Footer p
{
    margin-top: 5px;
    width: 100%;
    font-size: 26px;
    color: darkgray;
    font-family: Segoe UI;
    text-align: center
}

/*Statistics page*/
/*---------------*/

#Body1
{
    padding-top: 66px;
    padding-right: 220px
}

#Header1
{
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 1239px;
    height: 66px;
    background-color: #6C63FF;
    display: flex;
    margin-left: 61px;
    padding-left: 15px;
    padding-top: 11px;
    border-left: solid;
    border-left-color: #fff;
    border-right: solid;
    border-right-color: #fff
} 

#Header1 a
{
    line-height: 29px;
    font-size: 26px;
    font-family: Arabic Typesetting;
    color: white;
    cursor: pointer;
    text-decoration: none
}
#Header1 a:hover
{
    color: #4A46CB
}
#Right-navbar1
{
    position: fixed;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 220px;
    height: 100%;
    background-color: #6C63FF;
    display: flex;
    padding: 100px 20px;
    align-content: flex-start;
    flex-wrap: wrap;
    color: white
}
#Right-navbar1 h3
{
    font-family: Arabic Typesetting;
    font-size: 34px;
    margin: -3px
}
#Right-navbar1 form:nth-of-type(1)
{
    margin-top: 10px;
    margin-bottom: 10px
}
#Right-navbar1 form:nth-of-type(1) input
{
    width: 20px;
    height: 20px;
    color: #111;
    cursor: pointer
}
#Right-navbar1 form:nth-of-type(1) input:hover
{
    background-color: #4A46CB;
    color: white
}
#Right-navbar1 form:nth-of-type(1) label
{
    font-family: Arabic Typesetting;
    font-size: 30px;
    line-height: 20px
}
#Right-navbar1 form:nth-of-type(2)
{
    margin-top: 10px
}
#Right-navbar1 form:nth-of-type(2) select
{
    width: 150px;
    height: 30px;
    color: #111;
    border-radius: 48px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    text-align-last: center;
    cursor: pointer
}
#Right-navbar1 form:nth-of-type(2) select:hover
{
    background-color: #4A46CB;
    color: white
}
#Main1
{
    background-color: #fff;
    padding-bottom: 20px;
    text-align: center
}
#Main1 img
{
    margin-top: 5px;
    width: 1000px
}
#Main1 figure:nth-of-type(1) img
{
    width: 400px;
    height: 300px
}
#Main1 figure:nth-of-type(2) img
{
    width: 400px;
    height: 300px
}
#Main1 div
{
    display: flex;
    justify-content: space-around
}

/*prediction page*/
/*---------------*/

#Body2
{
    background-color: #fff;
    padding-top: 150px;
    padding-right: 235px;
    padding-left: 15px
}
#Header2
{
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 1256px;
    height: 66px;
    background-color: #6C63FF;
    display: flex;
    margin-left: 46px;
    padding-left: 15px;
    padding-top: 11px;
    border-left: solid;
    border-left-color: #fff
} 
#Header2 a
{
    line-height: 29px;
    font-size: 26px;
    font-family: Arabic Typesetting;
    color: white;
    cursor: pointer;
    text-decoration: none
}
#Header2 a:hover
{
    color: #4A46CB
}
#Right-navbar2
{
    position: fixed;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 220px;
    height: 100%;
    background-color: #6C63FF;
    display: flex;
    padding: 100px 2px;
    align-content: flex-start;
    flex-wrap: wrap;
    border-left: solid;
    border-left-color: #fff
}
#Right-navbar2 form:nth-of-type(1)
{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px
}
#Right-navbar2 form:nth-of-type(1) select
{
    border-radius: 3px;
    align-content: center;
    width: 190px;
    height: 40px;
    color: #111;
    border-radius: 48px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    text-align-last: center;
    cursor: pointer
}
#Right-navbar2 form:nth-of-type(1) select:hover
{
    background-color: #4A46CB;
    color: white
}
#Right-navbar2 form:nth-of-type(2)
{
    margin-left: 15px;
    margin-top: 10px
}
#Right-navbar2 form:nth-of-type(2) button
{
    border-radius: 3px;
    width: 190px;
    height: 40px;
    background-color: white;
    border-radius: 48px;
    border: none;
    outline: none;
    color: #111;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer
}
#Right-navbar2 form:nth-of-type(2) button:hover
{
    background-color: #4A46CB;
    color: white
}
/*Process page*/
/*------------*/

#Header3
{
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 66px;
    background-color: #6C63FF;
    display: flex;
    margin-left: 31px;
    padding-left: 15px;
    padding-top: 11px;
    border-left: solid;
    border-left-color: #fff
} 

#Header3 a
{
    line-height: 29px;
    font-size: 26px;
    font-family: Arabic Typesetting;
    color: white;
    cursor: pointer;
    text-decoration: none
}
#Header3 a:hover
{
    color: #4A46CB
}
#Body3
{
    background-color: #fff;
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px
}






