:root {
    --theme: #6C63FF;
    --hover: #4A46CB;
    --bg-main: #ffffff;
    --landscape-width: 25;
    --portrait-width: 80vw;
    --header-height: 4.5rem;
    --secs: 0.4s;
    }

.Analysis #layout {
text-decoration: none;
display: flex;
overflow: hidden;
}

.Analysis #layout .header {
    padding: 10px;
    background-color: var(--theme);
    position: relative;
    height: var(--header-height);
    text-align: center;
    }

.Analysis #layout .header .button {
    line-height: 30px;
    font-size: 44px;
    font-family: Arabic Typesetting;
    color: white;
    text-decoration: none;
    
}

.Analysis #layout .header .button:hover {
    color: rgb(228, 226, 226)
}

.Analysis #layout .header .title {
position: absolute;
left: 0;
right:0;
}

.Analysis #layout .content {
overflow: auto;
box-sizing: border-box;
height: calc(100vh - var(--header-height));
padding: 1rem;
}

.Analysis #main {
background: var(--bg-main);
flex-grow: 1;
}
.Analysis #main .header {
    background-color: var(--theme);
}

@media (orientation: landscape) {
.Analysis #main .header .title {
    transition: left var(--secs);
}

.Analysis #main .header .title.left-closed {
    left: var(--header-height);
}
}

.Analysis #left {
transition: width var(--secs);
width: 0;
}

@media (orientation: landscape) {
.Analysis #left.open {
    width: calc(1% * var(--landscape-width));
}
}

.Analysis #left .icon {
    position: fixed;
    z-index: 10;
    width: var(--header-height);
    height: var(--header-height);
    line-height: var(--header-height);
    font-size: var(--header-height);
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.Analysis #left .sidebar .header {
    font-size: 18px;
    line-height: var(--header-height);
    text-align: center;
}

.Analysis #left .sidebar {
    transition: transform var(--secs);
}

@media (orientation: portrait) {
.Analysis #left .sidebar {
    width: var(--portrait-width);

}
}

@media (orientation: landscape) {
.Analysis #left .sidebar {
    width: calc(1vw * var(--landscape-width));
}
}

.Analysis #left .sidebar .header {
width: calc(100% - var(--header-height));
}

.Analysis #left {
z-index: 5;
}

.Analysis #left .sidebar {
background: var(--theme);
}

.Analysis #left .sidebar.closed {
transform: translateX(-100%);
}

.Analysis #left .sidebar .header {
left: var(--header-height);
}

.Analysis #left .sidebar .content .current {
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
}

.Analysis #left .sidebar .content .button {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: var(--bg-main);
    display: block;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.Analysis #left .sidebar .content .button:hover {
    color: var(--hover)
}
@media (max-width: 1130px)
    {
    .Analysis #left .sidebar .content .button 
    {
        font-size: 20px;
        
    }
    }