    :root {
    --theme: #6C63FF;
    --hover: #4A46CB;
    --bg-main: #ffffff;
    --landscape-width: 25;
    --portrait-width: 80vw;
    --header-height: 4.5rem;
    --secs: 0.4s;
    }
    
    .Predict #layout {
    text-decoration: none;
    display: flex;
    overflow: hidden;
    }
    
    .Predict #layout .header {
        padding: 10px;
        background-color: var(--theme);
        position: relative;
        height: var(--header-height);
        text-align: center;
        }
    
    .Predict #layout .header .button {
        line-height: 30px;
        font-size: 44px;
        font-family: Arabic Typesetting;
        color: white;
        text-decoration: none
    }
    
    .Predict #layout .header .button:hover {
        color: rgb(228, 226, 226)
    }
    
    .Predict #layout .header .title {
    position: absolute;
    left: 0;
    right: 0;
    }
    
    .Predict #layout .content {
    overflow: auto;
    box-sizing: border-box;
    height: calc(100vh - var(--header-height));
    padding: 1rem;
    }
    
    .Predict #main {
    background: var(--bg-main);
    flex-grow: 1;
    }
    .Predict #main .header {
        background-color: var(--theme);
    }
    
    @media (orientation: landscape) {
    .Predict #main .header .title {
        transition: left var(--secs), right var(--secs);
    }
    
    .Predict #main .header .title.left-closed {
        left: var(--header-height);
    }
    
    .Predict #main .header .title.right-closed {
        right: var(--header-height);
    }
    }
    
    .Predict #left, .Predict #right {
    transition: width var(--secs);
    width: 0;
    }
    
    @media (orientation: landscape) {
    .Predict #left.open, .Predict #right.open {
        width: calc(1% * var(--landscape-width));
    }
    }
    
    .Predict #left .icon, .Predict #right .icon {
        position: fixed;
        z-index: 10;
        width: var(--header-height);
        height: var(--header-height);
        line-height: var(--header-height);
        font-size: var(--header-height);
        text-align: center;
        user-select: none;
        cursor: pointer;
    }
    
    .Predict #left .sidebar .header, .Predict #right .sidebar .header {
        font-size: 18px;
        line-height: var(--header-height);
        text-align: center;
    }
    
    .Predict #left .sidebar, .Predict #right .sidebar {
        transition: transform var(--secs);
    }
    
    @media (orientation: portrait) {
    .Predict #left .sidebar, .Predict #right .sidebar {
        width: var(--portrait-width);
    
    }
    }
    
    @media (orientation: landscape) {
    .Predict #left .sidebar, .Predict #right .sidebar {
        width: calc(1vw * var(--landscape-width));
    }
    }
    
    .Predict #left .sidebar .header, .Predict #right .sidebar .header {
    width: calc(100% - var(--header-height));
    }
    
    .Predict #left {
    z-index: 5;
    }
    
    .Predict #left .sidebar {
    background: var(--theme);
    }
    
    .Predict #left .sidebar.closed {
    transform: translateX(-100%);
    }
    
    .Predict #left .sidebar .header {
    left: var(--header-height);
    }
    
    .Predict #left .sidebar .content .button {
        padding: 8px 8px 8px 32px;
        font-size: 25px;
        color: var(--bg-main);
        display: block;
        transition: 0.3s;
        text-decoration: none;
        text-align: center;
    }
    
    .Predict #left .sidebar .content .button:hover {
        color: var(--hover)
    }
    
    .Predict #right .icon {
    right: 0;
    }
    
    .Predict #right .sidebar {
    background: var(--theme);
    }
    
    @media (orientation: portrait) {
    .Predict #right .sidebar.open {
        transform: translateX(-100%);
    }
    }
    
    .Predict #right .sidebar .content h3
    {
        font-family: Arabic Typesetting;
        font-size: 34px;
        margin: -3px
    }
    
    .Predict #right .sidebar .content .form-input
    {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    
    .Predict #right .sidebar .content .form-input input
    {   
        margin-bottom: 25px;
        width: 20px;
        height: 20px;
        color: #111;
        cursor: pointer
    }
    
    .Predict #right .sidebar .content .form-input input:hover
    {
        background-color:var(--hover);
        color: var(--bg-main)
    }
    
    .Predict #right .sidebar .content .form-input label
    {
        font-family: Arabic Typesetting;
        font-size: 30px;
        line-height: 20px
    }
    
    .Predict #right .sidebar .content .form-select
    {
        margin-top: 10px
    }
    
    .Predict #right .sidebar .content .form-select select
    {
        width: 150px;
        height: 30px;
        color: #111;
        border-radius: 48px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        text-align-last: center;
        cursor: pointer
    }
    @media (max-width: 1130px)
    {
    .Predict #left .sidebar .content .button 
    {
        font-size: 20px;
        
    }
    }