:root {
--theme: #6C63FF;
--hover: #4A46CB;
--bg-main: #ffffff;
--landscape-width: 25;
--portrait-width: 80vw;
--header-height: 4.5rem;
--secs: 0.4s;
}

#layout1 {
text-decoration: none;
display: flex;
overflow: hidden;
}

#layout1 .header1 {
    padding: 10px;
    background-color: var(--theme);
    position: relative;
    height: var(--header-height);
    text-align: center;
    }

#layout1 .header1 .button1 {
    line-height: 30px;
    font-size: 44px;
    font-family: Arabic Typesetting;
    color: white;
    text-decoration: none;
}

#layout1 .header1 .button1:hover {
    color: rgb(228, 226, 226)
}

#layout1 .header1 .title1 {
position: absolute;
left: 0;
right: 0;
}

#layout1 .content1 {
overflow: auto;
box-sizing: border-box;
height: calc(100vh - var(--header-height));
padding: 1rem;
z-index: 1;
}

#main1 {
background: var(--bg-main);
flex-grow: 1;
}
#main1 .header1 {
    background-color: var(--theme);
}

@media (orientation: landscape) {
#main1 .header1 .title1 {
    transition: left var(--secs), right var(--secs);
}

#main1 .header1 .title1.left-closed {
    left: var(--header-height);
}

#main1 .header1 .title1.right-closed {
    right: var(--header-height);
}
}

.Stats #left, 
.Stats #right {
transition: width var(--secs);
width: 0;
}

@media (orientation: landscape) {
.Stats #left.open, 
.Stats #right.open {
    width: calc(1% * var(--landscape-width));
}
}

#left .icon1, #right .icon1 {
    position: fixed;
    z-index: 10;
    width: var(--header-height);
    height: var(--header-height);
    line-height: var(--header-height);
    font-size: var(--header-height);
    text-align: center;
    user-select: none;
    cursor: pointer;
}

#left .sidebar .header1, #right .sidebar .header1 {
    font-size: 18px;
    line-height: var(--header-height);
    text-align: center;
}

.Stats #left .sidebar, 
.Stats #right .sidebar {
    transition: transform var(--secs);
}

@media (orientation: portrait) {
.Stats #left .sidebar, 
.Stats #right .sidebar {
    width: var(--portrait-width);

}
}

@media (orientation: landscape) {
.Stats #left .sidebar, 
.Stats #right .sidebar {
    width: calc(1vw * var(--landscape-width));
}
}

.Stats #left .sidebar .header, 
.Stats #right .sidebar .header {
width: calc(100% - var(--header-height));
}

#left .icon1 {
left: 0;
}

.Stats #left .sidebar {
background: var(--theme);

}

.Stats #left .sidebar.closed {
transform: translateX(-100%);
}

.Stats #left .sidebar .header {
left: var(--header-height);
}

#left .sidebar .content1 .button1 {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: var(--bg-main);
    display: block;
    transition: 0.3s;
    text-decoration: none;
}

#left .sidebar .content1 .button1:hover {
    color: var(--hover)
}

#right .icon1 {
right: 0;
}

.Stats #right .sidebar {
background: var(--theme);
}

@media (orientation: portrait) {
.Stats #right .sidebar.open {
    transform: translateX(-100%);
}
}
#right .sidebar .content1
{
    display: flex;
    padding: 30px 40px;
    align-content: flex-start;
    flex-wrap: wrap
}
#right .sidebar .content1 h3
{
    font-family: Arabic Typesetting;
    font-size: 34px;
    margin: -3px
}

#right .sidebar .content1 .form-input
{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
}

#right .sidebar .content1 .form-input input
{   
    margin-bottom: 7px;
    width: 23px;
    height: 18px;
    color: #111;
    cursor: pointer
}

.Stats #right .sidebar .content .form-input input:hover
{
    background-color:var(--hover);
    color: var(--bg-main)
}

#right .sidebar .content1 .form-input label
{
    font-family: Arabic Typesetting;
    font-size: 30px;
    line-height: 20px
}

#right .sidebar .content1 .form-select
{
    margin-top: 10px
}

#right .sidebar .content1 .form-select select
{
    width: 150px;
    height: 30px;
    color: #111;
    border-radius: 48px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    text-align-last: center;
    cursor: pointer
}
