:root {
--theme: #6C63FF;
--hover: #4A46CB;
--bg-main: #ffffff;
--landscape-width: 25;
--portrait-width: 80vw;
--header-height: 4.5rem;
--secs: 0.4s;
}

.Stats #layout {
text-decoration: none;
display: flex;
overflow: hidden;
}

.Stats #layout .header {
    font-size: 26px;
    background-color: var(--theme);
    position: relative;
    height: var(--header-height);
    text-align: center;
    }

.Stats #layout .header .button {
    line-height: 35px;
    font-size: 34px;
    font-family: Arabic Typesetting;
    color: white;
    text-decoration: none
}

.Stats #layout .header .button:hover {
    color: var(--hover)
}

.Stats #layout .header .title {
position: absolute;
left: 0;
right: 0;
}

.Stats #layout .content {
overflow: auto;
box-sizing: border-box;
height: calc(100vh - var(--header-height));
padding: 1rem;
}

.Stats #main {
background: var(--bg-main);
flex-grow: 1;
}

.Stats #main .header {
    background-color: var(--theme);
}

@media (orientation: landscape) {
.Stats #main .header .title {
    transition: left var(--secs), right var(--secs);
}

.Stats #main .header .title.left-closed {
    left: var(--header-height);
}

.Stats #main .header .title.right-closed {
    right: var(--header-height);
}
}

.Stats #left, 
.Stats #right {
transition: width var(--secs);
width: 0;
}

@media (orientation: landscape) {
.Stats #left.open, 
.Stats #right.open {
    width: calc(1% * var(--landscape-width));
}
}

.Stats #left .icon, 
.Stats #right .icon {
    position: fixed;
    z-index: 10;
    width: var(--header-height);
    height: var(--header-height);
    line-height: var(--header-height);
    font-size: var(--header-height);
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.Stats #left .sidebar .header, 
.Stats #right .sidebar .header {
    font-size: 18px;
    line-height: var(--header-height);
}

.Stats #left .sidebar, 
.Stats #right .sidebar {
    transition: transform var(--secs);
}

@media (orientation: portrait) {
.Stats #left .sidebar, 
.Stats #right .sidebar {
    width: var(--portrait-width);

}
}

@media (orientation: landscape) {
.Stats #left .sidebar, 
.Stats #right .sidebar {
    width: calc(1vw * var(--landscape-width));
}
}

.Stats #left .sidebar .header, 
.Stats #right .sidebar .header {
width: calc(100% - var(--header-height));
}

.Stats #left {
z-index: 5;
}

.Stats #left .sidebar {
background: var(--theme);
}

.Stats #left .sidebar.closed {
transform: translateX(-100%);
}

.Stats #left .sidebar .header {
left: var(--header-height);
}

.Stats #left .sidebar .content .button {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: var(--bg-main);
    display: block;
    transition: 0.3s;
    text-decoration: none;
}

.Stats #left .sidebar .content .button:hover {
    color: var(--hover)
}

.Stats #right .icon {
right: 0;
}

.Stats #right .sidebar {
background: var(--theme);
}

@media (orientation: portrait) {
.Stats #right .sidebar.open {
    transform: translateX(-100%);
}
}

.Stats #right .sidebar .content h3
{
    font-family: Arabic Typesetting;
    font-size: 34px;
    margin: -3px
}

.Stats #right .sidebar .content .form-input
{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 25px;
}

.Stats #right .sidebar .content .form-input input
{   
    margin-bottom: 25px;
    width: 20px;
    height: 20px;
    color: #111;
    cursor: pointer
}

.Stats #right .sidebar .content .form-input input:hover
{
    background-color:var(--hover);
    color: var(--bg-main)
}

.Stats #right .sidebar .content .form-input label
{
    font-family: Arabic Typesetting;
    font-size: 30px;
    line-height: 20px
}

.Stats #right .sidebar .content .form-select
{
    margin-top: 10px
}

.Stats #right .sidebar .content .form-select select
{
    width: 150px;
    height: 30px;
    color: #111;
    border-radius: 48px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    text-align-last: center;
    cursor: pointer
}